<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rentr</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Template CSS -->
    <link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet">

    <!-- Custom Core CSS -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-inner navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="../../../">
				<div class="header-brand">
				    <img class="img-responsive" src="{% static "img/rentr-logo-web.png" %}" 
				    alt="Rentr Logo"> 
			        </div>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="navbar navbar-nav navbar-right" id="right-links">
				<li><a href="../../../logout">Logout</a></li>
			</ul>
		</div>
	</div>
    </nav>
    <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="">
			<h3>All Locations<h3>
                </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        	    <div class="row">
		    <div class="col-lg-8">
			    <button type="click" class="btn btn-primary hidden-lg hidden-md" id="menu-toggle">
				    <span>Toggle Menu</span>
			    </button>
			    <h1 class="col-sm-offset-3"> Rental </h2>
			    <table class="table table-striped">
				    <tbody>
				    <tr>
					    <td> Customer Name </td>
					    <td> {{rental.cusName}} </td>
				    </tr>
			            <tr>
					    <td> Customer Phone </td>
					    <td> {{rental.cusPhoneNum}} </td>
				    </tr>
			            <tr>
					    <td> Customer Email </td>
					    <td> {{rental.cusEmail}} </td>
				    </tr>
			            <tr>
					    <td> Type </td>
					    <td> {{rentable.type}} </td>
				    </tr>
			            <tr>
					    <td> Price </td>
					    <td> {{rental.price}} </td>
				    </tr>
			            <tr>
					    <td> Date Due </td>
					    <td> {{rentable.dateDue}} </td>
				    </tr>

				    </tbody>
			    </table>

			    <button id="return" type="click" name="return"
				class="btn btn-danger">
				Return</button>
			    
		    </div>
		    <div class="col-lg-4">
			    <div id="created_rentable">
			    </div>
		    </div>
       </div>
    </div>
    <!-- /#wrapper -->
    </div>
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}" rel="stylesheet"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.js" %}" rel="stylesheet"></script>
    <link rel="stylesheet" type="text/css" 
    href="{% static "css/jquery.datetimepicker.css" %}"/ >

    <!-- lodash Core JavaScript -->
    <script src="{% static "js/lodash.js" %}" rel="stylesheet"></script>
    <script src="{% static "js/jquery.datetimepicker.js" %}"></script>

    <!-- SideBar GET Store Script -->
    <script>
    $(function() {
        $( "#datetimepicker" ).datetimepicker();
    });

    $("#create-rental").on('submit', function() {
        var data ={};
        $(this).serializeArray().map(function(item) {
			if ( data[item.name] ) {
				if ( typeof(data[item.name]) === "string" ) {
					data[item.name] = [data[item.name]];
				}
				data[item.name].push(item.value);
			} else {
				data[item.name] = item.value;
			}
	});
	$.ajax({
            url:'/rental/',
            type:'post',
            dataType:'json',
            data: data,
            success: function(e){
                console.log(JSON.stringify(data));
		window.location.href = "../../../";
            }
	});
	console.log(JSON.stringify(data));
    });

    $('#return').click(function(e) {
            $.ajax({
		url:'/rentableDetail/{{rental.rentable}}/return/',
		type:'get',
		dataType:'json',
		success: function(data) {
			window.location.href = "../../../";
		}
	});
    });

    $("#menu-toggle").click(function(e) {
	    e.preventDefault();
	    $("#wrapper").toggleClass("toggled");
    });
        $.getJSON("/storeList", function( data ) {
            $.each(data, function(key, val){
                $(".sidebar-nav").append(
                    "<li class='sidebar-brand'> <a href=\"javascript:getStore(" + val.pk + ");\">"
                    + val.name + "</a></li>"
                );
		$("[id=dropdown-menu]").append(
			'<option value="store">'+ val.name +'</option>');
           })
        });
    </script>

</body>
</html>
